*, *:before, *:after{
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: url(../img/bg-captainamerica.jpg);
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: center;
    margin:0;
    padding:0;
}
.logo{
    margin-right: 7%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6%;
    margin: 0 50% 8% 10%;
    font-size: 14px;
    line-height: 16px;
}
.header-burger{
    display: none;
}
.header-tab-item{
    cursor: pointer;
}
.tab-item-active{
    color:#266AC9;
    font-weight: bold;
}
.header-tabs-content{
    display: none;
}
.visible{
    display: block;
}
.full-content{
    padding-left: 10%;
}
.content-block{
    margin-right: 60%;
}
.real-name{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.real-name::before, .real-name::after{
    background-color: #c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 38px;
}
.real-name::before {
    left: 50px;
    top: -3px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.real-name::after {
    left: -9px;
    top: calc(100% + 3px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.hero-name{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
    text-transform: uppercase;
}
.short-info{
    font-size: 16px;
    line-height: 150%;
}
.preview-button{
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    background: #266AC9;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
.preview-button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 36px;
	background: rgba(207, 75, 75, 0.3);
	border-radius: 8px;
	transition: all 2s ease;
}
.preview-button:hover:before {
    width: 100%;
}
.preview-button:active, .preview-button:focus {
    outline: none !important;
  }
.preview-button::-moz-focus-inner {
    border: 0 !important;
  }
.actor-name{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.actor-short-info{
    font-size: 16px;
    line-height: 150%;
}
.abilities-list{
    font-size: 16px;
    line-height: 150%;
}
.abilities-item{
    margin-bottom: 10px;
}
@media(max-width: 1200px){
    .full-content{
        margin-top: 15%;
    }
}
@media(max-width: 992px){
    .header-burger{
        display: block;
        position: absolute;
        width: 25px;
        height: 15px;
        z-index: 3;
    }
    .header-burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2.5px;
        top: 6px;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before, .header-burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;  
        transition: all 0.3s ease 0s; 
   }
   .header-burger:before{
       top: 0;
   }
   .header-burger:after{
       bottom: 0;
   }
   .header-burger.active:before{
       transform: rotate(45deg);
       top: 6px;
    }
   .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 7px;
    }
    .header-burger.active span{
        transform: scale(0);
    }
   .header{
        padding: 3% 3%;
        width:20%;
        transition: all 2s ease 0s;
   }
    .header-menu{
        display: none;
    }
    .logo{
        margin-bottom: 5%;
        position: relative;
    }
    .header-menu.active{
        display: block;
        position: absolute;
        color: #ffffff;
        margin: 0 35% 0 35%;
        padding: 3% 8%;
    }
    .main.lock{
        overflow: hidden;
    }

}
@media(max-width: 768px){
    .real-name{
        font-size: 14px;
    }
    .hero-name{
        font-size: 42px;
    }
    .actor-name{
        font-size: 42px;
    }

}
@media(max-width: 578px){
    .full-content{
        margin-top: 30%;
    }
    .content-block{
        margin-right: 30%;
        margin-left: 10%;
        text-align: justify;
        align-content: center;
    }
    .hero-name{
        font-size: 34px;
    }
    .short-info{
        font-size: 14px;
    }
    .actor-name{
        font-size: 34px;
        line-height: 58px;
    }
    .actor-short-info{
        font-size: 14px;
    }
}