*, *:before, *:after{
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: url(../img/bg-ironman.jpg) no-repeat center;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    margin:0;
    padding:0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin: 0 900px 120px 150px;
    font-size: 14px;
    line-height: 16px;
}
.logo{
    margin-right: 70px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.header-tab-item{
    cursor: pointer;
}
.tab-item-active{
    color: #9D2929;
    font-weight: bold;
}
.header-tabs-content{
    display: none;
}
.visible{
    display: block;
}
.main{
    padding-left: 150px;
}
.content-block{
    margin-bottom: 30px;
    margin-right: 830px;
}
.real-name{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.real-name::before, .real-name::after{
    background-color: #c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 38px;
}
.real-name::before {
    left: 50px;
    top: -3px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.real-name::after {
    left: -9px;
    top: calc(100% + 3px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.hero-name{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
    text-transform: uppercase;
}
.short-info{
    font-size: 16px;
    line-height: 150%;
}
.preview-button{
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    background: #9D2929;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
.preview-button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 36px;
	background: rgba(207, 75, 75, 0.3);
	border-radius: 8px;
	transition: all 2s ease;
}
.preview-button:hover:before {
    width: 100%;
}
.preview-button:active, .preview-button:focus {
    outline: none !important;
  }
.preview-button::-moz-focus-inner {
    border: 0 !important;
  }
.actor-name{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
    text-transform: uppercase;
    padding-top: 46px;
    margin-bottom: 40px;
}
.actor-short-info{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}
.abilities-list{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
    padding-top: 40px;
}
.abilities-item{
    margin-bottom: 10px;
}
