*, *:before, *:after{
    box-sizing: border-box;
}
html{
    overflow-y: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}
.preloader {
    background: #000000;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.prePreloader{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}
.prePreloader:before,.prePreloader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid rgba(255,255,255,.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
}
.prePreloader:before {
    animation: animate 4s infinite linear;
}
  @keyframes animate {
    0% {
      transform: rotate(0) skew(0);
    }  
    100% {
      transform: rotate(180deg) skew(360deg);
    }
}
.prePreloader:after {
    animation: animate2 4s infinite linear;
}
  @keyframes animate2 {
    0% {
      transform: rotate(0) skew(0);
    }  
    100% {
      transform: rotate(-180deg) skew(-360deg);
    }
}
.wrapper{
    margin: 0 auto;
}
.parallax{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-height: 100vh;
    overflow: hidden;
}
.parallax-item{
    position: absolute;
    left: 0;
    top: 0;
    width: 105%;
    height: 105%;
}
.image-bg{
    background: url(../img/layer-1.jpeg) center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.image-1{
    background: url(../img/layer-2.png) right bottom no-repeat;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
}
.title{
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}
.title .title-main{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    line-height: 64px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 2%;
}
.title .description{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 1% 20% 4% 20%;
}
.card{
    perspective: 1000px;
    transform-style: preserve-3d;
}
.card-item{
    margin: 5px;
    width: 225px;
    height: 225px;
    cursor: pointer;
}
.card-1{
    background: url(../img/poster-ironman.jpg) no-repeat;
    background-size: cover;
}
.card-2{
    background: url(../img/poster-captainamerica.jpg) no-repeat;
    background-size: cover;
}
.card-3{
    background: url(../img/poster-thor.jpg) no-repeat;
    background-size: cover;
}
.card-4{
    background: url(../img/poster-blackwidow.jpg) no-repeat;
    background-size: cover;
}
.card-5{
    background: url(../img/poster-hulk.jpg) no-repeat;
    background-size: cover;
}
.card-6{
    background: url(../img/poster-hawkeye.jpg) no-repeat;
    background-size: cover;
}
.card-item:hover{
    opacity: 0.7;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
    transition: 1s;
}
.card-name{
    opacity: 0;
    font-size: 28px;
    line-height: 50%;
    color: #ffffff;
    text-align: center;
    padding: 48% 0 47% 0;
    margin: 0;
}
.card-name:hover{
    opacity: 1;
    transition: 1s;
}
a{
    text-decoration: none;
}
.table-title{
    position: relative;
    padding: 1% 5%;
}
.table-title-main{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 64px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 2%;
}
.table-description{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
table{
    text-align: center;
}
.first-row{
    text-align: left;
}
th {
    font-weight: normal;
    color: #ffffff;
    padding: 10px 15px;
}
td {
    color: #ffffff;
    border-top: 1px solid rgba(118, 115, 120, 1);
    padding: 10px 15px;
}
tr:hover td {
    background-color: rgba(157,41,41, 0.3);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0,0,0,0.2) inset; 
    background: rgb(2, 0, 8);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid rgb(2, 0, 8);
}
::-webkit-scrollbar-thumb:hover{
    background: #9D2929;
}
@media(max-width: 1200px){
    .table-title-main{
        font-size: 40px;
    }
    .card-item{
        width: 200px;
        height: 200px;
    }
    .table-title{
        margin-top: 16%;
    }
}
@media(max-width: 768px){
    .card-item{
        width: 150px;
        height: 150px;
    }
   .title .title-main{
       font-size: 40px;
   }
    .title .description{
       font-size: 14px;
    }
    .table-title-main{
        font-size: 30px;
    }
    table{
        font-size: 14px;
    }
}
@media(max-width: 578px){
    table{
        font-size: 12px;
    }
    
}